/* Header */

header{
    background: linear-gradient(#00000086, #0000004e), url(../img/eng-mec-header.jpg);
  background-position: center;
  background-size: cover;
  height: 85vh;
}

.fix.fixed {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    background-color: var(--primaria);
}

.fix{
    padding: 30px;
    text-align: center;
}

.fix .logo img{
    width: 180px;
}

.menu-toggle{
    display: inline-block;
}

.menu-toggle button{
    background-color: transparent;
}

.linha{
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 7px;
    position: relative;
    transform-origin: center ;
    transition: .5s;
}

.menu-toggle button.ativar .linha:nth-child(1){
    transform: translateY(5px) rotate(-45deg);
}

.menu-toggle button.ativar .linha:nth-child(3){
    transform: translateY(-5px) rotate(45deg);
}

.menu-toggle button.ativar .linha:nth-child(2){
    display: none;
}

.nav-list{display: none;}

@media screen and (max-width:660px){

    .nav-list{
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, height 0.5s ease;
    }

.show{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--primaria);
    padding: 30px;
    width: 97%;
    margin: 0 auto;
    border-radius: 3px;
    text-align: left;
    opacity: 1;
  height: auto;
  transition: opacity 0.5s ease, height 0.5s ease;
}
}

.nav-list li{
    margin-top: 10px;
    border-bottom: 2px solid var(--branco);
}

.nav-list li:hover{border-bottom: 3px solid var(--terciaria);}

.nav-list li a{
    color: var(--branco);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.92);
    transition: .4s linear;
}

.titulo-servicos h1{
    color: var(--branco);
    font-size: 2.5rem;
    font-family: 'Raleway';
    padding: 3rem;
    letter-spacing: -2px;
    font-weight: 800px;
}


/* sobre */

#sobre-servico{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.136);
}

.sobre-servico-content{
    padding: 40px;
}


#sobre-servico .titulo-servico{
    color: var(--terciaria);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Heebo';
    letter-spacing: 1px;
    border-bottom:  inset ;
}


.sobre-servico-img img{
    width: 100%;
    border-radius: 2px;
    margin-top: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.354);
    position: relative;
    z-index: 100;
 }

.sobre-servico-txt h2{
    margin-top: 20px;
    color: var(--terciaria);
    font-size: 2.4rem;
    letter-spacing: 1px;
}

.sobre-servico-txt p, .sobre-servico-txt-mais p{
    margin-top: 20px;
    line-height: 25px;
    font-size: 1rem;
    font-family: 'Roboto';
    color: var(--cinza);
}

.sobre-servico-mais{
    padding: 40px;
}

.lista-servicos{
    margin-top: 20px;
}

.lista-servicos li{
    margin-top: 5px;
    line-height: 25px;
    font-size: 1rem;
    font-family: 'Roboto';
    color: var(--cinza);
    list-style-type: disc;
}

@media  screen and (min-width: 880px){
     /* sobre */

     .sobre-servico-content{
        background: linear-gradient(to right #cfcfcf, var(--light));
        display: flex;
        gap: 30px;
    }

    .sobre-servico-img img{
        width: 100%;
        height: auto;
        margin-top: 20px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.354);
        border-radius: 5px;
    }


    .sobre-servico-txt{
        max-width: 400px;
    }

    .sobre-servico-txt h1{
        margin-top: 10px;
        color: var(--secundaria);
        font-size: 2.4rem;
        letter-spacing: 1px;
    }

    .sobre-servico-txt p{
        margin-top: 20px;
        line-height: 25px;
        font-size: 1.1rem;
        font-family: 'Roboto';
    }

}

@media screen and (min-width:1020px){

    .sobre-servico-content{
        gap: 50px;
    }

    .sobre-servico-mais{
        padding: 50x;
    }

    .sobre-servico-content{
        padding: 50px 90px 0 90px;
    }  

    .sobre-servico-img img{
        position: relative;
        z-index: 10;
        width: 100%;
        height: auto;
        margin-top: 20px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.354);
    }

    .sobre-servico-txt{
        max-width: 500px;
    }

    .sobre-servico-txt-mais{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        gap: 50px;
    }

    .sobre-servico-txt-mais p{
        max-width: 500px;
    }
}